body {
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}

.container {
  width: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bookmark-list {
  display: flex;
  flex-direction: column;
}

#bookmark-list-item {
  display: flex;
  flex-direction: column;
}

#bookmark-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
}

.input-div {
  display: flex;
  justify-content: space-between;
  flex-basis: 25px;
  margin: 5px;
}

#form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

#app-body {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center
}

#top-buttons {
  width: 280px;
  display: flex;
  justify-content: space-around;
}

.bookmark-list-item {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}